
h2{
color:blue;
text-align:center;
}
h4{
color:navy;
text-align:center;
}
p{
display:inline;
overflow:hidden;
font-family:verdana;
font-size:20x;
}
.zumba{
background-color:lightblue;
}
.pilates{
background-color:lightgreen;
}
.yoga{
background-color:orange;
}
.spin{
background-color:aqua;
}
li{
display:inline;
}